* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
}

section {
  justify-content: center;
  display: flex;
}

.navigation {
  padding: 22px 0px;
  justify-content: space-between;
  display: flex;
}

.getData {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.838);
  border-radius: 7px;
  padding: 16px 18px;
  color: black;
}


.Mylogo {
  font-size: 24px;
}



.poster {
  background-image: url("./assets/Hero-bg.png");
  background-size: cover;
  background-position-y: center;
  padding: 30px 0;
}


.poster > div {
  gap: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
}



.poster > div > p {
  color: gray;
}

.poster > div > a {
  text-decoration: none;
  color: white;
  border-radius: 8px;
  background-color: black;
  padding: 18px;
}

.poster > div > img {
  width: 205px;
}




.divbox {
  padding: 99px 0px;
}
.divbox > div {
  background-color: rgba(231, 231, 231, 0.307);
  border-radius: 20px;
}

.mainBoxes > h1 {
  margin-bottom: 10px;
}
.mainBoxes {
  padding: 55px 00;
  text-align: center;
}



/* ===================to  */

.flexboxes {
  align-items: center;
  flex-direction: column;
  gap: 25px;
  display: flex;
}
.singlebox {
  flex-direction: row;
  display: flex;
  background-color: white;
  padding: 20px;
  justify-content: space-between;
  width: 698px;
  align-items: center;
  border-radius: 21px;
}

.namItem {
  flex-direction: column;
  width: 351px;
  gap: 19px;
  display: flex;
}

.namItem > a {
  text-decoration: none;
  border: 1px solid black;
  color: black;
  padding: 14px 19px;
  font-size: 21px;
  text-align: center;
  width: 101px;
}







.namItem:nth-child(2) {
  justify-content: start;
  gap: 20px;
}

.namItem:last-child {
  margin-bottom: 40px;
}



/* ------------------- */




.iframDesign {
  border: 1px solid black;
  width: 100%;
  border-radius: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 28px;
}

.iframDesiinging {
  height: 542px;
  width: 100%;
  border-radius: 10px;
}




