* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
}

section {
  justify-content: center;
  display: flex;
}

.navigation {
  padding: 22px 0px;
  justify-content: space-between;
  display: flex;
}

.getData {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.838);
  border-radius: 7px;
  padding: 16px 18px;
  color: black;
}


.Mylogo {
  font-size: 24px;
}



.poster {
  background-image: url("./assets/Hero-bg.png");
  background-size: cover;
  background-position-y: center;
  padding: 30px 0;
}


.poster > div {
  gap: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
}



.poster > div > p {
  color: gray;
}

.poster > div > a {
  text-decoration: none;
  color: white;
  border-radius: 8px;
  background-color: black;
  padding: 18px;
}

.poster > div > img {
  width: 205px;
}



