* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
}

section {
  justify-content: center;
  display: flex;
}

.navigation {
  padding: 22px 0px;
  justify-content: space-between;
  display: flex;
}

.getData {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.838);
  border-radius: 7px;
  padding: 16px 18px;
  color: black;
}


.Mylogo {
  font-size: 24px;
}



.poster {
  background-image: url("./assets/Hero-bg.png");
  background-size: cover;
  background-position-y: center;
  padding: 30px 0;
}


.poster > div {
  gap: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
}



.poster > div > p {
  color: gray;
}

.poster > div > a {
  text-decoration: none;
  color: white;
  border-radius: 8px;
  background-color: black;
  padding: 18px;
}

.poster > div > img {
  width: 205px;
}




.divbox {
  padding: 99px 0px;
}
.divbox > div {
  background-color: rgba(231, 231, 231, 0.307);
  border-radius: 20px;
}

.mainBoxes > h1 {
  margin-bottom: 10px;
}
.mainBoxes {
  padding: 55px 00;
  text-align: center;
}



/* ===================to  */

.flexboxes {
  padding-bottom: 63px;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  display: flex;
}
.singlebox {
  flex-direction: row;
  display: flex;
  background-color: white;
  padding: 20px;
  justify-content: space-between;
  width: 698px;
  align-items: center;
  border-radius: 21px;
}

.namItem {
  flex-direction: column;
  width: 351px;
  gap: 19px;
  display: flex;
}

.namItem > a {
  text-decoration: none;
  border: 1px solid black;
  color: black;
  padding: 14px 19px;
  font-size: 21px;
  text-align: center;
  width: 101px;
}







.namItem:nth-child(2) {
  justify-content: start;
  gap: 20px;
}

.namItem:last-child {
  margin-bottom: 40px;
}



/* ------------------- */




.iframDesign {
  border: 1px solid black;
  width: 100%;
  border-radius: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 28px;
}

.iframDesiinging {
  height: 542px;
  width: 100%;
  border-radius: 10px;
}




/* -------------------- */



.boxs {
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  flex-direction: row;
  margin-bottom: 22px;
  display: flex;
}

.boxs > div:first-child {
  background-color: rgba(0, 136, 255, 0.282);
}
.boxs > div {
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.161);
  display: flex;
  padding: 39px;
  height: 249px;
  gap: 21px;
  width: 282px;
  justify-content: center;
  flex-direction: column;
}
.boxs > div > img {
  width: 81px;
}
.boxs > div > a {
  font-weight: 901;
  color: rgb(21, 21, 21);
}
.boxs > div:last-child {
  background-color: rgba(8, 253, 0, 0.164);
}


/*  end ================ */



.communication {
  justify-content: center;
  align-items: center;
  display: flex;
}

.communication > div {
  background-position-y: center;
  background-image: url("./assets/handshake.jpg");
  height: 312px;
  background-size: cover;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}



.communication > div > p {
  color: rgb(95, 95, 95);
}

.communication > div > h1 {
  color: white;
}



.inputbox > button {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 11px;
}
.inputbox > input {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 11px;
}

/* end =============== */


.footer {
  padding: 21px;
  background-color: rgb(216, 216, 216);
  margin-top: 41px;
}

.MEDIAid {
  gap: 21px;
  display: flex;
}
.footer > div {
  align-items: center;
  justify-content: space-between;
  display: flex;
}


